* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.store,
.increment {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 1rem;
}

.store {
  font-size: 2em;
}

.operator {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.mt {
  margin-top: 1.1rem;
}

input {
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  border-color: #646cff;
  border-radius: 8px;
  padding: 5px 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #6b71e5;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}